*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;;
    background-color: #F28AB2;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2.5rem;
    width:30vw;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 8px 15px 15px #333638;
}
.pri-header {
    padding-bottom: 1.5rem;
}
.box-content {
    display: flex;
    align-items: center;
    margin: 1rem 0 0;
}
.sec-header {
    padding-bottom: .6rem;
}
.paragraph {
    font-family: 'Lato', sans-serif;   
}
img{
    width: 100%;
    height: 100%;
}
.img-container {
    margin-right: 1.8rem;
}
.image-left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#deleteBtn {
    margin-top: .5rem;
    width: 5rem;
    padding: .2rem 0;
    background-color: #b90e0ead;
    outline: none;
    border: none;
    color: #f1f1f1;
    border-radius: 12px;
}
#clearBtn {
    display: block;
    margin: 2rem auto 0;
    width: 90%;
    border: none;
    background-image: linear-gradient(to right, #8e4cda,  #5a0eb1);
    height: 2rem;
    font-size: 20px;
    outline: none;
    color: #f1f1f1;
    border-radius: 2rem;
}
@media (max-width: 1024px) {
    .container-content{
        width: 50vw;
        padding: 3rem 5rem; 
    }
    .pri-header {
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    .container-content{
        width: 50vw;
        padding: 2rem 4rem; 
    }
    .pri-header {
        font-size: 1.5rem;
    }
}
@media (max-width: 700px) {
    .container-content{
        width: 60vw;
        padding: 2rem 3.5rem;
    }
    .pri-header {
        font-size: 1.5rem;
    }
}
@media (max-width: 600px){
    .container-content{
        width: 70vw;
        padding: 2rem 3rem;
    }
    .pri-header {
        font-size: 1.5rem;
    }
}
@media (max-width: 500px) {
    .container-content{
        width: 60vw;
        padding: 2rem;
    }
    .pri-header {
        font-size: 1.5rem;
    }
}
@media (max-width: 425px) {
    .container-content{
        width: 70vw;
        padding: 2rem;
    }
    .pri-header {
        font-size: 1.5rem;
    }
}
@media (max-width: 375px){
    .container-content{
        width: 85vw;
    }
    .pri-header {
        font-size: 1.5rem;
        text-align: center;
    }
}